.navbar {
    font-family:  Tahoma, Helvetica, Arial;
    font-size: 16px;
    background-color: #e0e0e0;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    /*box-sizing: border-box;*/
    /*text-align: center;*/
}

.navbar * {
    display: inline-block;
    margin: 0 auto;
    padding: 0;

}

.navbar h4 {
    padding: 15px 30px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    width: 120px;
    padding: 15px;
    color: #000;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid #A9A9A9;
}

.navbar ul li:last-child a {
    border-right: 1px solid #A9A9A9;
}

.navbar ul li a:hover  {
    font-weight: 600;
    text-shadow: 0 1px 0 #ffffff;
}


